*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-tittle{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
g{
    color:#FF42A5;
}
.nt-text{
font-size: 25px;
/* font-weight: 700; */
margin-left: 5px;
/* padding: 10px; */
margin-top: 20px;
}
.nt-img{
    height: 15px;
    padding: 5px;
}
.mrgn{
    margin: 5px;
}
.nav-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    padding: 5px;
}
.nva{
    margin: 10px;
    text-decoration: none;
    color:rgba(60, 53, 79, 1);
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    height: 38rem;
}
.banner-container{
    background-image: url(../images/Group\ 14.png);
    width: 40%;
    height: 100%;
    background-size: contain;
    margin-right: 20px;
}
.banner-img{
    width: 50%;
    padding: 30px;
    height: 90%;
}
/* .banner-text img{
    width: 100%;
} */
.banner-img img{
  width: 80%;
  height: 100%;
  justify-content: center;
  padding: 20px;
  width: fit-content;
  margin-left: 40px;
}
.banner-p{
    display: flex;
}
.btn{
    display: flex;
}
.s-btn{
    border-radius: 48px;
    background: #FF42A5;
padding: 10px 18px;
align-items: flex-start;
gap: 10px;
color: #fff;
border: none;
}
.r-btn{
    border-radius: 48px;
    background: #4EC5F7;
padding: 10px 18px;
align-items: flex-start;
gap: 10px;
color: #fff;
border: none;
}
.goat{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 70px;
font-weight: 800;
text-transform: uppercase;
}
.ban-text{
    margin-top: 170px;
    padding-left: 100px
}
.wrg-tittle{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: right;
}
.wrg{
    display: flex;
}
.sp{
    text-align: right;
}
.wrg-text{
    margin-top: 150px;
    padding-right: 200px;
    width: 40%;
}
.wrg-img{
    margin-left: 100px;
    width: 60%;
}
.wrg-img img{
    width: 100%;
}
.og{
    width: fit-content;
}
.fv{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.og-text{
    text-align: center;
    margin-top: 4rem;
}
.og-img{
    padding: 2rem 10rem;
    display: flex;
    border-radius: 16px;
    gap: 10px;

}
.og-imgs{
    margin-right: 2rem;
   
}
.og p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
/* .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: opacity 0.4sec ease-in-out;
    background: black;
    cursor: pointer;
}
.og-img:hover.overlay{
opacity: 0.8;
} */
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.pi-con{
    margin: 10rem 24rem 0rem 24rem;
    display: flex;
    width:fit-content ;
    
}
.pi{
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
    margin-right: 10rem;
    
}
.c-img{
    position: relative;
    margin: 0%;
    padding: 0;
    bottom: 18rem;
}
.b-img{
    margin-left: 7rem;
}
.pi p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 1rem;
    text-align: right;
    line-height: 30px; 
}
.career-con{
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    justify-content: space-around;
    width: fit-content;

}
.career-text{
   color: #fff;
   align-items: center;
   justify-content: center;
   margin-top: 16rem;
   margin-left: 12rem;
   margin-right: 4rem;
}
.ppp{
    display: flex;
    justify-content: space-between;
    line-height: 40px; 
    margin-bottom: 1rem;
    
}
.lp{
    font-size: 1.4rem;
}
.rp{
    font-size: 1.4rem;
}
.career-btn{
    display: inline-flex;
padding: 1.2rem 2.4rem;
align-items: flex-start;
gap: 0.7rem;
border-radius: 48px;
background: #FFF;
border: none;
cursor: pointer;
margin-top: 0.8rem;

}
.see{
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img-btn1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.img-btn2{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.img-btn{
    width: 243px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
cursor: pointer;
font-size: 15px;
font-weight: 600;
}
.img-btn:hover {
    border-radius: 50px;
    border: 2px solid #FF42A5;
    color: #FF42A5;
}
footer{
    background: #0B0223;
}
.foot-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px;
}
.ft-text{
    color: #FFF;
}
.g{
    color:#FF42A5;
}
.ft-a{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.ft-a a{
    text-decoration: none;
    color: #FFF;
}
.ft-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 60px;
}
.ft-p{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ft-p p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 14px;
font-weight: 500;
}
.ft-h{
    padding: 30px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
padding-bottom: 50px;
}