*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    /* padding: 10px; */
}
.nav-tittle{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    align-items: center;
}
span{
    color:#FF42A5;
}
.nt-text{
    font-size: 25px;
font-weight: 700;
margin-left: 5px;
 /* padding: 5px; */
}
.nt-img{
    height: 20px;
}